PORT=4000
NODE_ENV=development
FRONTEND_URL=https://thefxnavigators.com

# MONGODB_URI=mongodb+srv://moon:947131@cluster0.gvga3.mongodb.net/ 
MONGODB_URI=mongodb+srv://thefxnavigators_db_user:eH5GGJdP40yATW0S@cluster0.4es3uko.mongodb.net/
DB_NAME=forex_navi
JWT_SECRET=gd78fgfd8gdfsgds8fg678g6dsg7s


CLOUDINARY_CLOUD_NAME=dkyee7iej
CLOUDINARY_API_KEY=557864184898398
CLOUDINARY_API_SECRET=3vhPjJpE-5MI1uBqnNcj5yWvEV8
CLOUDINARY_UPLOAD_PRESET=ml_default



SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=thefxnavigators@gmail.com
SMTP_PASSWORD=  

# Email From Configuration
SMTP_FROM_EMAIL=thefxnavigators@gmail.com
SMTP_FROM_NAME=Forex Navigators
